#barra{

    margin-top: 20px;
    margin-left: 2px;
    margin-right: 2px;
    border: solid;
    border-radius: 10px;
    background-color: coral;
}

#barra .navbar-brand{

    font-size: 1.5em;
    font-family: 'times new roman';
    font-weight:700;
}

.contiene{

    height: 150px;
    display: block;

}



