html {

    scroll-behavior: smooth;
    font-family: Helvetica, Verdana, Tahoma, sans-serif;
    background-color: rgb(182, 155, 204);
}

.cont-nav{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    padding-right: 0.5em;
    padding-left: 0.5em;
    margin:  0.55em;
    background-color: rgb(142, 103, 173);
    border-radius: 20px;
}

.nav-1{

    display: flex;
    flex-direction:column;
    align-items: center;
    font-weight: bold;
    font-size: 1.5em;
}

#listanav{

    list-style: none;
    color:black   
}

.vinculo-2{

    font-size: 2em;
}

.cont-titulo{
        
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

#im-portada{
    
    width: 99%;
    border-radius: 20px;      
}  

.enc-0{

    display: flex;
    flex-direction: row;    
    justify-content: center;     
}  

.enc-1{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    font-weight: bold;
    color:white;
    position: absolute; 
}

.tit-cabecera{

    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.25em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    margin:  0.55em;
    background-color: rgb(142, 103, 173);
    border-radius: 20px;
}

.acerca{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(142, 103, 173);
    border-radius: 20px;
    padding-right: 0.5em;
    padding-left: 0.5em;
    margin: 0.5em;  
}

.acercatxt{

    font-size: 1.5em;
    text-align: justify;
    padding: 2em;
}

#fotoPerfil{

    height: 250px;
    width: 250px;
    border-radius: 16px;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}

.cont-trabajos{

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 20px;
    padding-right: 0.5em;
    padding-left: 0.5em;     
}

.trabajo-1{
  
    text-align: left;
    background-color: rgb(142, 103, 173);
    padding-bottom: 0.80em;
    border-radius: 20px;
    padding-right: 0.75em;
    padding-left: 0.5em;
    margin: 0.5em;
    margin-left: 0.15em;   
    width: 50%;   
}

.trabajo-1 h3{

    text-decoration: underline;
}

#fotot1{
   
    width: 100%;
    border-radius: 18px;
    margin-top: 0.4em;
    margin-left: 0.1em;
    height: 18em;   
}

.trabajo-2{

    
    text-align:left;
    background-color: rgb(142, 103, 173);
    padding-bottom: 3.60em;
    border-radius: 20px;
    padding-right: 0.75em;
    padding-left: 0.5em;
    margin: 0.5em;
    width: 50%;
}

.trabajo-2 h3{

    text-decoration: underline;
}

#fotot2{
    
    width: 100%;    
    border-radius: 18px;
    margin-top: 3.25em;
    margin-left: 0.1em;    
}

.trabajo-3{
  
    text-align:left;
    background-color: rgb(142, 103, 173);
    padding-bottom: 0.1em;
    border-radius: 20px;
    padding-right: 0.75em;
    padding-left: 0.5em;
    margin: 0.5em;
    margin-right: 0.15em;
    width: 50%;
}

.trabajo-3 h3{

    text-decoration: underline;
}

#fotot3{
   
    width: 100%;
    border-radius: 18px;
    height: 18em;
    margin-left: 0.15em;  
}

.lista-estudios{

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 20px;
    padding-right: 0.5em;
    padding-left: 0.5em;
    margin:  0.55em;
    background-color: rgb(142, 103, 173);
}

